body {
  font-family: "Arial", sans-serif;
  background-color: lightgray;
}

h1,
p {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.hangman-image {
  width: 250px;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 10px solid white;
}

.guessed-word {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

button {
  border-radius: 3px;
  border-width: 1px;
  font-size: 20px;
  margin: 5px;
}

.keyboard-button {
  background-color: aqua;
  color: black;
  width: 30px;
}

.keyboard-button:hover {
  background-color: darkgrey;
  color: lightblue;
}

.keyboard-button-clicked {
  color: gray;
  width: 30px;
  cursor: not-allowed;
}

.restart-button,
.popup button {
  background-color: yellow;
  color: black;
}

.restart-button:hover,
.popup button:hover {
  background-color: darkgrey;
  color: lightgoldenrodyellow;
}

.help-button {
  background-color: lightgoldenrodyellow;
  color: black;
}

.help-selected {
  background-color: darkgrey;
  color: lightgoldenrodyellow;
}

.popup {
  position: fixed;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
